################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.ipch
/bin/Debug/Win32/imgui.tlog/CL.command.1.tlog
*.tlog
*.idb
*.lib
*.obj
*.log
*.pdb
*.db
*.opendb
*.suo
*.user
*.filters
